@import './variables.less';

.app {
    font-family: @font-family;
    color: @text-white;
    background-color: @bg-dark;
    padding: 20px;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 10px;
        width: 100%;
    }
}

.page-title {
    text-align: left;
    font-size: 40px;
    font-weight: 400;

}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 20px 20px 0;

    .month {
        border: 1px solid @border-dark;
        padding: 10px;
        //background-color: @bg-light;

        h3 {
            text-align: center;
            margin-bottom: 10px;
        }

        .days-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            .day {
                text-align: center;
                position: relative;
                padding: 6px;
                cursor: pointer;

                &.open {
                    color: @main-red
                }

                &:hover {
                    background: @bg-light;
                }

                span {
                    display: block;
                }

                .event-dots {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    gap: 4px;
                    bottom: 2px;
                    width: 26px;

                    .event-dot {
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                    }
                    @media (max-width: 768px) {
                        width: 100%;
                        bottom: 0;
                    }
                }

                @media (max-width: 768px) {
                    padding: 3px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.month {
    border: 1px solid @border-dark;
    padding: 10px;
    //background: @bg-light;

    @media (max-width: 768px) {
        padding: 8px;
    }

    @media (max-width: 480px) {
        padding: 5px;
    }
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    @media (max-width: 480px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.event-filter {


    button {
        margin: 0 5px;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &.active {
            font-weight: bold;
        }
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: @bg-dark;
    color: @text-white;
    border: 1px solid @border-dark;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    text-align: center;
    border-radius: 8px;
    z-index: 1000;
    max-height: 80vh;
    width: 330px;
    overflow-y: auto;

    .events-title {
        border-bottom: 1px solid @transparent-red;
        text-align: left;
        font-weight: 200;
        padding-bottom: 20px;
    }
}

.popup-content {
    text-align: left;
    padding-bottom: 25px;
    border-bottom: 1px solid @transparent-red;


    .location {
        color: @text-muted;
    }

    h3 {
        margin-bottom: 10px;
    }

    p {
        margin: 5px 0;
        font-size: 14px;
        font-weight: 200;
    }

    .close-button {
        margin-top: 15px;
        padding: 8px 12px;
        border: none;
        background-color: @button-primary;
        color: @text-white;
        cursor: pointer;
        border-radius: 4px;
    }
}


.additional-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .event-type-tag {
        color: @text-white;
        width: fit-content;
        height: fit-content;
        padding: 2px 8px;
        font-size: 12px;
        border: none;
        cursor: pointer;
        border-radius: 16px;

        &.red {
            background-color: @transparent-red;
            color: @main-red;

            &.active {
                background-color: @main-red;
                color: black;
            }
        }

        &.green {
            background-color: @transparent-green;
            color: @main-green;

            &.active {
                background-color: @main-green;
                color: black;
            }
        }

        &.orange {
            background-color: @transparent-orange;
            color: @main-orange;

            &.active {
                background-color: @main-orange;
                color: black;
            }
        }

        &.blue {
            background-color: @transparent-color;
            color: @main-blue;

            &.active {
                background-color: @main-blue;
                color: black;
            }
        }

    }

    .red {
        color: @main-red;
    }

    .green {
        color: @main-green;
    }

    .orange {
        color: @main-orange;
    }

    .blue {
        color: @main-blue;
    }
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 5px;
    color: @text-muted;
    font-size: 15px;
    font-weight: 300;
}

.weekday {
    padding: 5px 0;
}
